---
interface Props {
	title: string;
	style: string;
	src: string;
}

const { title,src, style } = Astro.props;
---
<div class="w-64 h-64 bg-zinc-700 rounded-xl m-6">
	<img src={src} alt="" class={style}>
	<h1 class="text-center text-4xl font-mono text-white mt-10">
		{title}
	</h1>
</div>
<style>
	
</style>
