
<footer class="w-full h-42 bg-zinc-700" >
    <div class="flex flex-row justify-between">
    <div>
        <img src="p-not-fond.png" alt="" class="w-40 h-40 ml-10 ">
    </div>
    <div>
        <p class="text-white font-mono text-2xl mt-10 mr-10">Pablo Vazquez Alvarado</p>
    </div>
</div>
</footer> 